<div class="texto">
    <div class="text-center pt-4">
        <h1 style="color: #92D66E">La basura y el impacto en el medio ambiente</h1>
    </div>
    <div class="container">
        <div class="row py-4 align-items-center justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <img src="../../../../../assets/card3/tierra.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 texto">
                <h4 style="color: #92D66E" class="pt-5 text-center">La importancia del reciclaje</h4>
                <p class="pt-1 p-4 texto text-justify">El reciclar o el reciclaje es un acto de suma importancia para la
                    sociedad ya que el mismo supone la reutilización de elementos y objetos de distinto tipo que de otro
                    modo serían desechados, contribuyendo a formar más cantidad de basura y, en última instancia,
                    dañando de manera continua al planeta. <br>Finalmente, son muchos los beneficios y ventajas del
                    reciclaje, que combate la contaminación ambiental, debilitamiento de la capa de ozono, el
                    calentamiento global, cambios de climático.
                    Debemos de preservar nuestros recursos naturales, disminuir la contaminación, es importante el
                    ahorro de energía, el ahorro de dinero, el ahorro del petróleo y fuente de empleo.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-5 texto">
                <h4 style="color: #92D66E" class="pt-5 text-center">Contaminación del suelo</h4>
                <p class="pt-1 p-4 texto text-justify">La contaminación del suelo, la presencia de aceites, grasas,
                    metales pesados y ácidos, entre otros residuos contaminantes, altera las propiedades físicas,
                    químicas y de fertilidad de los suelos. El consumo de energía y materiales que se utilizan para
                    elaborar envases y productos que después desechamos. Esta energía y estos materiales con frecuencia
                    provienen de recursos que no son renovables, por ejemplo del petróleo y de minerales. Cuando
                    desechamos lo que consideramos basura, en realidad estamos tirando recursos naturales</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <img src="../../../../../assets/card3/plastico.jpg" class="img-fluid" alt="Responsive image">
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img src="../../../../../assets/card3/Foto, agua.jpg" class="img-fluid pt-3" alt="Responsive image">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 texto">
                <h4 style="color: #92D66E" class="pt-5 text-center">La basura y el agua</h4>
                <p class="pt-1 p-4 texto text-justify">La contaminación del agua. El agua superficial se contamina por
                    la basura que tiramos en ríos y cañerías. En los lugares donde se concentra basura se filtran
                    líquidos, conocidos como lixiviados, que contaminan el agua del subsuelo de la que, en nuestra
                    ciudad, todos dependemos. Cabe aclarar que en los rellenos sanitarios los lixiviados no contaminan
                    el agua ni el suelo porque están controlados y debidamente tratados. La descarga de la basura en
                    arroyos y canales o su abandono en las vías públicas, también trae consigo la disminución de los
                    cauces y la obstrucción tanto de estos como de las redes de alcantarillado. En los periodos de
                    lluvias, provoca inundaciones que pueden ocasionar la pérdida de cultivos, de bienes materiales y,
                    lo que es más grave aún, de vidas humanas.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-5 texto">
                <h4 style="color: #92D66E" class="pt-5 text-center">La contaminación del aire</h4>
                <p class="pt-1 p-4 texto text-justify">Los residuos sólidos abandonados en los basurales a cielo abierto
                    deterioran la calidad del aire que respiramos, tanto localmente como en los alrededores, a causa de
                    las quemas y los humos, que reducen la visibilidad, y del polvo que levanta el viento en los
                    periodos secos, ya que puede transportar a otros lugares microorganismos nocivos que producen
                    infecciones respiratorias e irritaciones nasales y de los ojos, además de las molestias que dan los
                    olores pestilentes. También, la degradación de la materia orgánica presente en los residuos produce
                    una mezcla de gases conocida como biogas, compuesta fundamentalmente por metano y dióxido de carbono
                    (CH4 y CO2), los cuales son reconocidos gases de efecto invernadero (GEI) que contribuyen al proceso
                    de cambio climático.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <img src="../../../../../assets/card3/bosque.jpg" class="img-fluid pt-3" alt="Responsive image">
            </div>
        </div>
        <div class="pl-4 text-justify">
            Además de la contaminación del aire, la tierra y el agua; la mala gestión de los residuos tiene efectos
            perjudiciales para la salud pública (por la contaminación ambiental y por la posible transmisión de
            enfermedades infecciosas vehiculizadas por los roedores que los habitan) y degradación del medio ambiente en
            general, además de impactos paisajísticos. Asimismo, la degradación ambiental conlleva costos sociales y
            económicos tales como la devaluación de propiedades, pérdida de la calidad ambiental y sus efectos en el
            turismo.
        </div>
    </div><br>
    <div class="text-center pt-4">
        <h1 style="color: #92D66E">Situación en Colombia</h1>
    </div>
    <div class="container">
        <div class="m-5">
            <img src="../../../../../assets/card3/basuraencolombia.jpg" class="img-fluid">
        </div>
        <div class="container text-justify">

        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 texto">
                <p class="pl-4 pr-4 texto text-justify">El 78% de los hogares colombianos no recicla.
                    En el Día Nacional del Reciclador y del Reciclaje les presentamos un panorama sobre este oficio en
                    el país. En los próximos cuatro años 321 rellenos del país cumplirán su vida útil, razón por la que
                    urge un cambio cultural y mayor apoyo a los aprovechadores de residuos.
                    En Colombia se generan cerca de 12 millones de toneladas de basura al año, de las cuales se recicla
                    en promedio un 17%. Solo en Bogotá se producen 6.300 toneladas de basura al día y solo se
                    reaprovechan entre el 14% y 15%, según el Ministerio de Ambiente y Desarrollo Sostenible.
                    <br><br>
                    En el país, además, se consumen 24 kilos de plástico por persona al año y de esa cifra el 56% es de
                    un solo uso, es decir, pitillos, cubiertos, platos, tapas y envases, entre otros utensilios.
                    El bajo nivel de reciclaje existente desde la fuente (casas, fábricas) genera constantemente crisis
                    en los rellenos sanitarios por factores como la falta de espacio para disponer los residuos. El
                    problema tiende a empeorar en los próximos cuatro años, pues se estima que 321 rellenos del país
                    cumplirán su vida útil.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-5 texto">
                <p class="pl-4 pr-3 texto text-justify">El 78% de los hogares colombianos no recicla.
                    En el Día Nacional del Reciclador y del Reciclaje les presentamos un panorama sobre este oficio en
                    el país. En los próximos cuatro años 321 rellenos del país cumplirán su vida útil, razón por la que
                    urge un cambio cultural y mayor apoyo a los aprovechadores de residuos.
                    <br><br>
                    En Colombia hay más de 30.000 recicladores, agremiados en 319 organizaciones, de 27 departamentos.
                    En Colombia hay más de 30.000 recicladores, agremiados en 319 organizaciones, de 27 departamentos.
                    En Colombia se generan cerca de 12 millones de toneladas de basura al año, de las cuales se recicla
                    en promedio un 17%. Solo en Bogotá se producen 6.300 toneladas de basura al día y solo se
                    reaprovechan entre el 14% y 15%, según el Ministerio de Ambiente y Desarrollo Sostenible.
                    <br><br>
                    En el país, además, se consumen 24 kilos de plástico por persona al año y de esa cifra el 56% es de
                    un solo uso, es decir, pitillos, cubiertos, platos, tapas y envases, entre otros utensilios.
                    <br>
                    El bajo nivel de reciclaje existente desde la fuente (casas, fábricas) genera constantemente crisis
                    en los rellenos sanitarios por factores como la falta de espacio para disponer los residuos. El
                    problema tiende a empeorar en los próximos cuatro años, pues se estima que 321 rellenos del país
                    cumplirán su vida útil..
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <img src="../../../../../assets/card3/reciclaje.jpg" class="img-fluid" alt="Responsive image">
                <br><br>
                <img src="../../../../../assets/card3/relleno.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="container text-center pb-5">
        <button class="btn btn-success" (click)="redirectTo('aseo/separacion')"><b>Regresar</b></button>
    </div>

</div>