.text-center p-3{
    background-color:  rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0)
}
.footer{
    position: fixed;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: cornflowerblue;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}
.img{
   background-color: transparent;

}
.ColorFooter{
    background-color:#01DF3A;

}
