<div class="container pt-4">
    <div class="alert alert-primary" role="alert">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="">
                        <img src="{{empresas?.logo}}" class="rounded" alt="" width="120px" height="120px" class="m-2"
                            class="img-fluid p-1">   
                    </div>
                    <div class="text-right">
                        <h3 class="mt-1 pr-4 pl-2"><b>{{empresas?.nombre_empresa}}</b></h3>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right pb-3">
                <button type="button" mdbBtn size="lg" class="rounded-pill btn btn-primary" (click)="editar()"
                    mdbWavesEffect><b class="pr-1">Editar Perfil</b>
                    <mdb-icon fas icon="pen"></mdb-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4>Dirección</h4>
    <p>{{empresas?.direccion}}</p>
    <h4>Contacto</h4>
    <p>{{empresas?.contacto}}</p>
    <h4>Misión</h4>
    <p>{{empresas?.mision}}</p>
    <h4>Visión</h4>
    <p>{{empresas?.vision}}</p>
    <h4>Valores</h4>
    <p>{{empresas?.valores}}</p>
    <h4>Copyright</h4>
    <p>{{empresas?.copyright}}</p>

</div>

<app-editar-perfil [id_empresa]="id_empresa"></app-editar-perfil>