<!-- <nav class="navbar navbar-expand-lg navbar-light colorfondo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row align-items-center">
            <div class="">
                <img src="{{empresas?.logo}}" class="rounded" alt="" width="120px" height="120px" class="m-2"
                    class="img-fluid p-1">   
            </div>
            <div class="text-right">
                <h3 class="mt-1 pr-4 pl-2 text-white"><b>{{empresas?.nombre_empresa}}</b></h3>
            </div>
        </div>
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active p-2">
                <a class="nav-link" routerLink='inicio-admin'>
                    <span class="text-white">Inicio</span>
                    <span><i aria-hidden="true"><img src="../../../assets/home.png"></i></span>
                </a>
            </li>
            <li class="nav-item active p-2">
                <a class="nav-link" routerLink='barrios'>
                    <span class="text-white">Barrios y horarios</span>
                    <span><i aria-hidden="true"><img src="../../../assets/icomunidad.png"></i></span>
                </a>
            </li>
            <li class="nav-item active p-2">
                <a class="nav-link" routerLink='carros'>
                    <span class="text-white">Carros y conductores</span>
                    <span><i aria-hidden="true"><img src="../../../assets/carro.png"></i></span>
                </a>
            </li>

            <li class="nav-item active p-2">
                <a class="nav-link" routerLink='rutas'>
                    <span class="text-white">Rutas</span>
                    <span><i aria-hidden="true"><img src="../../../assets/gps.png"></i></span>
                </a>
            </li>
            <li class="nav-item active p-2">
                <a class="nav-link" routerLink='consejos'>
                    <span class="text-white">Consejos reciclaje</span>
                    <span><i aria-hidden="true"><img src="../../../assets/iseparacion.png"></i></span>
                </a>
            </li>
            <li class="nav-item active p-2">
                <a class="nav-link" routerLink='nosotros'>
                    <span class="text-white">Nosotros</span>
                    <span><i aria-hidden="true"><img src="../../../assets/inosotros.png"></i></span>
                </a>
            </li>
        </ul>

    </div>
</nav>

 -->







