<div class="container">
    <div class="m-5">
        <h1 class="text-center" style="color: #92D66E">Conoce nuestra misión, visión y valores.</h1>
        <br><br>
        <div class="row justify-content-md-center">
            <img src="../../../assets/Nosotros/Basura.jpg" class="img-fluid">
        </div>

    </div>
    <div class=" m-5">
        <h3 class="text-center">Mision.</h3><br>
        <p class="m-4 texto">Tenemos como misión que la gestión del Servicio de Limpieza de nuestra ciudad de Pereira
            contribuya a la calidad de vida, la comodidad de los usuarios, y a la seguridad y conservación de las calles
            y espacios públicos, generando valor para nuestros clientes.
        </p>
    </div>
    <div class="m-5">
        <br><br>
        <div class="row justify-content-md-center">
            <img src="../../../assets/Nosotros/BasuraM.jpg" class="img-fluid">
        </div>
    </div>
    <div class=" m-5">
        <h3 class="text-center">Vision.</h3><br>
        <p class="m-4 texto">Nuestra visión, es que somos y seremos una empresa de referencia a nivel nacional, dentro
            del sector que desarrollamos, teniendo como valores:
            <br>
            • La excelencia en la prestación del servicio para la recolección de basuras de nuestras ciudades
            <br>
            • La innovación orientada a la mejora continua en procesos y servicios para cumplir con nuestro objetivo que
            es la recolección de basuras
            <br>
            • Un desarrollo de negocio sostenible, basado en criterios de responsabilidad económica, social y
            medioambiental.

        </p>
    </div>
    <div class="m-5">
        <br><br>
        <div class="row justify-content-md-center">
            <img src="../../../assets/Nosotros/BasuraV.jpg" class="img-fluid">
        </div>
    </div>
    <div class=" m-5">
        <h3 class="text-center">Valores.</h3><br>
        <p class="m-4 texto">1.Transparencia
            Es uno de los valores que más buscan las empresas y que se observa tanto hacia fuera como hacia dentro. La
            transparencia implica ser claros en la descripción de los servicios y no esconder información que puede ser
            relevante para la plantilla o los clientes, según el caso.
            <br>
            Las compañías más transparentes inspiran confianza en el mercado porque los clientes saben que no se llevan
            a llevar sorpresas en la prestación del servicio.
            <br>
            <br>
            2. Honestidad
            Podría decirse que la honestidad es uno de esos valores de una empresa que se deriva del anterior. La
            entidad gana en credibilidad a medida que facilita a los clientes toda la información que estos reclaman.

            En este sentido, la organización debe estar dispuesta a anteponer la sinceridad a cualquier otra
            consideración, aunque ello le perjudique comercialmente. En realidad, la apuesta por la honestidad genera
            mucho más beneficios a largo plazo que cerrar acuerdos a corto plazo sin ser plenamente sinceros con los
            clientes.
            <br><br>
            3. Coherencia como valor empresarial
            La hipocresía es una cualidad muy poco deseable en cualquier persona, no digamos si se trata de toda una
            empresa. La coherencia implica ser fiel tanto hacia los demás como, sobre todo, hacia uno mismo.
        </p>
    </div>
</div>