<div class="texto">
    <section class="fondo2card p-5">
        <div class="row align-items-center justify-content-md-center m-0" style="height: 600px">
            <div class="col-sm-12 col-md-12 col-lg-7 text-justify bg-white py-5">
                <h1 class="text-center" style="font-size: 55px; color: #92D66E;">Ciclo del reciclaje</h1><br>
                <p class="p-4">Llamamos residuo a cualquier material creado por los humanos y que esta destinado a ser
                    desechado. La solución al impacto es aprender hacer las siguientes cosas: Reducir, reutilizar,
                    reciclar.
                    El ciclo del reciclaje se divide en varias fases (Extraccion, fabricacion, etc). Cada una tiene
                    entradas (energías y materiales consumidos) y salidas (residuos o impactos ambientales).<br>
                    Gracias al reciclaje se previene de desuso de materiales potencialmente útiles, se reduce el consumo
                    de nueva materia prima, además de reducir el uso de energía, la contaminación al aire, a el agua,
                    así como también disminuir las emisiones de gases de efecto invernadero en comparación con con la
                    producción de plásticos.
                </p>
            </div>
        </div>
    </section>

    <div class="text-center pt-5">
        <h1 style="color: #92D66E">El ciclo de vida de algunos residuos</h1>
        <br>
        <p class="pt-1 pl-5 pr-5 texto">Conoce la duración de algunos residuos que generas a diario, para que empieces a
            desecharlos <br>de una manera correcta y de esta manera cuidar el medio ambiente</p>
    </div>
    <div class="text-justify">
        <div class="row p-5 texto justify-content-md-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/papel.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Papel</b></h4>
                        <h6><b>Duración: 1 año</b></h6>
                        <p>Si queda tirado sobre tierra y le toca un invierno lluvioso, no tarda en degradarse. Lo
                            ideal, es reciclarlo para evitar que se sigan talando árboles para su fabricación.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/plastico.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Botellas de plastico</b></h4>
                        <h6><b>Duración: 100 a 1.000 años</b></h6>
                        <p>Son las más resistentes a la hora de transformarse. Al aire libre pierden su tonicidad, se
                            fragmentan y se dispersan. Enterradas, duran más.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/bolsas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Bolsas</b></h4>
                        <h6><b>Duración: 150 años</b></h6>
                        <p>Por causa de su mínimo espesor, pueden transformarse más rápido que una botella de ese
                            material. Las bolsas están hechas de polietileno de baja densidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/tetra-pak.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Cartones de leche o zumos</b></h4>
                        <h6><b>Duración: 150 años</b></h6>
                        <p>El 75 % de su estructura es de celulosa, el 20% de polietileno puro y el 5% ciento de
                            aluminio. Lo que tarda más en degradarse es el aluminio.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/vidrio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Botellas de vidrio</b></h4>
                        <h6><b>Duración: 4.000 años</b></h6>
                        <p>Para los componentes naturales del suelo es una tarea titánica transformarla. Pero la ventaja
                            es que es reciclable en un 100% porque está formada por arena y carbonatos de sodio y de
                            calcio.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/lata.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Lata de gaseosa</b></h4>
                        <h6><b>Duración: 10 años</b></h6>
                        <p>Ese es el tiempo que tarda la naturaleza en transformar una lata de refresco o de cerveza al
                            estado de óxido de hierro. A la intemperie, hacen falta mucha lluvia y humedad para que el
                            óxido la cubra totalmente.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/vasosdescartables.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Vasos descartables</b></h4>
                        <h6><b>Duración: 1000 años</b></h6>
                        <p>Los vasos descartables de polipropileno contaminan menos que los de poliestireno. Pero
                            también tardan en transformarse. El plástico queda reducido a moléculas sintéticas.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/tapas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Tapas de plastico</b></h4>
                        <h6><b>Duración: Más de 100 años</b></h6>
                        <p>Las tapas de plástico están hechos de polipropileno, el mismo material de las pajitas y
                            envases de yogur. Se puede reciclar más fácil que las botellas de agua mineral (que son de
                            PVC, cloruro de polivinilo).</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/colilla.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Colilla de cigarrillo</b></h4>
                        <h6><b>Duración: 1 a 2 años</b></h6>
                        <p>Bajo los rayos del sol, una colilla con filtro puede demorar hasta dos años en desaparecer.
                            Si cae en el agua, la desintegración es más rápida, pero más contaminante.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/chicle.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Chicle</b></h4>
                        <h6><b>Duración: 5 años</b></h6>
                        <p>Un chicle masticado se convierte en ese tiempo, por acción del oxígeno, en un material duro
                            que luego empieza a degradarse hasta desaparecer y casi no deja rastro.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/pilas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Pilas</b></h4>
                        <h6><b>Duración: 500 a 1.000 años</b></h6>
                        <p>Contienen productos químicos MUY peligrosos en su interior y si no se tratan adecuadamente
                            cuando se rompan estos productos pueden liberarse y contaminar el medio ambiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/lacas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Lacas y espumas</b></h4>
                        <h6><b>Duración: 30 años</b></h6>
                        <p>Al ser un aerosol, ya es un agente contaminante por sus clorofluorocarbonos Por lo demás, su
                            estructura metálica lo hace resistente a la degradación natural. El primer paso es la
                            oxidación.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/panales.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Pañales y toallas higienicas</b></h4>
                        <h6><b>Duración: 250 a 400 años</b></h6>
                        <p>El material con el que se elaboran no es fácil de degradar y es considerado altamente
                            contaminante, ya que la base principal para su elaboración es petróleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/ropa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Prendas de vestir</b></h4>
                        <h6><b>Duración:</b></h6>
                        <p>Calcetines: 1 semana a 5 meses. Bolso de piel: 50 años. Lycras y top deportivos: 20 a 200
                            años. Vestido de poliéster: más de 200 años. Sueter de lana: 1 a 5 años. Jean: 10 a 12
                            meses. Blusa: 2 semanas.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/zapatillas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Zapatillas</b></h4>
                        <h6><b>Duración: 200 años</b></h6>
                        <p>Están compuestas por cuero, tela, goma y, en algunos casos, espumas sintéticas. Por eso
                            tienen varias etapas de degradación. Su interior no puede ser degradado: sólo se reduce.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="../../../assets/card2/munecas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center p-3"><b>Muñecas de juguete</b></h4>
                        <h6><b>Duración: 5 años</b></h6>
                        <p class="pb-3">Cuando son abandonadas, pueden llegar a desaparecer por la acción de los rayos
                            del sol, que debilitan la estructura de los plásticos que las forman.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center pb-5">
        <button class="btn btn-success" (click)="redirectTo('aseo/separacion')"><b>Regresar</b></button>
    </div>
</div>