<div class="text-center pt-4 texto">
    <h1 style="color: #92D66E">Conoce todo sobre nuestras rutas y horarios</h1>
</div>

<div class="row p-5 m-2 texto justify-content-md-center">
    <div class="col-sm-3 col-md-3 col-lg- pt-5">
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                   Barrio:
                   <br>
                   Ruta:
                   <br>
                   Dias:
                  </div>
                  <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='aseo/rutas'><b>Ver mapa</b></a>
                </div>
                
            </div>
        </div>
        <br>
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                    Barrio:
                    <br>
                    Ruta:
                    <br>
                    Dias:
                   </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg- pt-5">
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                   Barrio:
                   <br>
                   Ruta:
                   <br>
                   Dias:
                  </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa </b></a>
                </div>
            </div>
        </div>
        <br>
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                    Barrio:
                    <br>
                    Ruta:
                    <br>
                    Dias:
                   </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg- pt-5">
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                   Barrio:
                   <br>
                   Ruta:
                   <br>
                   Dias:
                  </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa </b></a>
                </div>
            </div>
        </div>
        <br>
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                    Barrio:
                    <br>
                    Ruta:
                    <br>
                    Dias:
                   </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg- pt-5">
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                   Barrio:
                   <br>
                   Ruta:
                   <br>
                   Dias:
                  </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa </b></a>
                </div>
            </div>
        </div>
        <br>
        <div class="card shadow" style="width: 15rem;">
            <img src="../../../assets/Ruta/Ruta1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="text-nowrap" style="width: 8rem;">
                    Barrio:
                    <br>
                    Ruta:
                    <br>
                    Dias:
                   </div>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver mapa</b></a>
                </div>
            </div>
        </div>
    </div>
</div>



