.fondo1card {
  background-image: url("../../../../../assets/card1/contenedores1.jpg");

  background-size: cover;
}

.fondo2card {
  background-image: url("../../../../../assets/card1/vidrio.jpg");

  background-size: cover;
}

.texto{
	font-family: Century Gothic , CenturyGothic, AppleGothic, sans-serif;
}