<div class="texto">
<section class="fondo1card p-4">
    <div class="row align-items-center m-0" style="height: 500px">
        <div class="col-12 text-center text-white">
            <h1 class="text-center text-white" style="font-size: 55px">Separación de residuos</h1><br>
            <h3>Aprovecha el plástico</h3>
            <br>
            <p>Reciclando el plástico puedes hacer masetas, porta lapices, pequeños comedores para pájaros, <br>lamparas y juguetes para tus mascotas.
                Tambien puedes separar correctamente el plástico <br>poniendolo en al bote amarillo o en bolsas amarillas. <br>
                Reciclando el cartón, y las cubetas de huevo, podemos hacer costureros, cajas de mimbre (con algo de cabuya), juegos para los niños, letras para alguna decoración. Es divertido hacer estas ideas para darle un toque único a tu hogar.
            </p>
        </div>
    </div>
</section>
<section class="fondo2card p-5">
    <div class="row align-items-center justify-content-center m-0" style="height: 600px">
        <div class="col-sm-12 col-md-12 col-lg-7 text-center bg-white py-5">
            <h1 class="text-center " style="font-size: 55px; color: #92D66E;">Utiliza y recicla correctamente el vidrio.</h1><br>
            <h3>Consejos:</h3>
            <br>
            <p class="p-3">El vidrio esta en varios colores y distintos tamaños, así que la mejor manera de botarlo <br>es en el bote verde, o en bolsas verdes, pero debes indicarle al recolector <br>que preste atencion para evitar accidentes.
                Puedes hacer floreros o envasar comida <br>en los envases de vidrio para mejor reciclaje.<br>El vidrio no es un material que se degrade con facilidad, por eso debemos de <br>ser cuidadosos con el uso que desidamos emplearle.</p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row align-items-center justify-content-center m-0 pt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h1 class="text-center " style="font-size: 55px; color: #92D66E;">Cómo separar la basura en casa</h1><br>
            <h3>Clasificación</h3>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 text-justify">
                    <p>
                        Lo primero que debemos saber para separar la basura es cómo clasificarla. Lo más importante es saber qué es basura y qué es reciclable.<br><br>
                        Reciclable: plástico, papel, cartón, vidrio, metal, ropa y telas (siempre limpios).
                        <br><br>
                        Basura: principalmente los orgánicos (restos de comida, plantas), también el plástico, papel y cartón (con restos de comida), vidrios y trapos y telas sucios. En este grupo suelen encontrarse los restos húmedos o mojados. Hay que prestar atención a cerrar bien las bolsas en donde los vamos a colocar.
                    </p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-justify">
                    <img src="../../../assets/card1/clasific.png" class="img-fluid p-3">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="text-center pt-4">
    <h1 style="color: #92D66E">Contenedores</h1>
</div>
<div class="text-justify pl-5 pr-5">
    <div class="row p-5 m-2 texto justify-content-md-center">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow" style="width: 15rem;">
                <img src="../../../assets/card1/naranja.png" class="card-img-top pl-1" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center p-3"><b>Naranja o gris</b></h4>
                    <p class="pb-2">Sirve para depositar los residuos orgánicos (comida).</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow" style="width: 15rem;">
                <img src="../../../assets/card1/amarillo.png" class="card-img-top pl-2" style="height: 355px">
                <div class="card-body">
                    <h4 class="card-title text-center p-3"><b>Amarillo</b></h4>
                    <p class="pb-4">La mayoría de envases de plástico y aluminio.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow" style="width: 15rem;">
                <img src="../../../assets/card1/verde1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center p-3"><b>Verde</b></h4>
                    <p class="pb-2">Botellas de vidrio y frascos. Prohibido echar bombillas, espejos.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow" style="width: 15rem;">
                <img src="../../../assets/card1/azul1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center p-3"><b>Azul</b></h4>
                    <p class="pb-3">Papel y cartón, pero sin grapas, plásticos o suciedad.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center pb-5">
    <button class="btn btn-success" (click)="redirectTo('aseo/separacion')"><b>Regresar</b></button>
</div>

</div>