<div class="text-center pt-4 texto">
    <h1 style="color: #92D66E">Aprende con nostros</h1>
    <br>
    <p class="pt-1">Conoce las mejoras maneras de reutilizar y reciclar en casa</p>
</div>

<div class="row p-5 m-2 texto justify-content-md-center">
    <!-- <div class="row justify-content-md-center align-content-center m-0 pt-4"></div> -->
    <!-- <div class="card shadow m-2" style="width: 18rem;" *ngFor="let consejo of consejos">
        <img src="{{consejo.img}}" class="card-img-top hvr-grow" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{consejo.nombre}}</h5>
            <p class="card-text">{{consejo.descripcion}}</p>
        </div>
    </div> -->

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card shadow" style="width: 23rem;">
            <img src="../../../assets/cards/card1.jpg" class="card-img-top hvr-grow" alt="...">
            <div class="card-body">
                <h5 class="card-title p-3 text-center">Separación de residuos</h5>
                <div class="mt-5 text-center">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card1'><b>Ver más</b></a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 justify-content-md-center">
        <div class="card shadow" style="width: 23rem;">
            <img src="../../../assets/cards/card2.jpg" class="card-img-top hvr-grow" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center p-3">Ciclo de vida de los residuos</h5>
                <div class="text-center mt-5">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card2'><b>Ver más</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card shadow" style="width: 23rem;">
            <img src="../../../assets/cards/card3.png" class="card-img-top hvr-grow" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center p-3">El recilaje y el medio ambiente</h5>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card3'><b>Ver más</b></a>
                </div>
            </div>
        </div>
    </div>
  <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-5">
        <div class="card shadow" style="width: 23rem;">
            <img src="../../../assets/cards/card4.jpg" class="card-img-top hvr-grow" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center p-3">Aprendamos jugando</h5>
                <div class="text-center mt-5">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card4'><b>Ver más</b></a>
                </div>
            </div>
        </div>
    </div>--> 
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-5">
        <div class="card shadow" style="width: 23rem;">
            <img src="../../../assets/cards/card5.jpg" class="card-img-top hvr-grow" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center p-3">Aprovechamiento de residuos reciclables</h5>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card5'><b>Ver más</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-5">
        <div class="card shadow" style="width: 23rem;">
            <img src="../../../assets/cards/card6.jpg" class="card-img-top hvr-grow" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center p-3">Recomendaciones para reciclar</h5>
                <div class="text-center mt-4">
                    <a class="btn btn-outline-success justify-content-center" routerLink='card6'><b>Ver más</b></a>
                </div>
            </div>
        </div>
    </div>
</div>



<router-outlet></router-outlet>