a.enlaces {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #333;
    }
    a.enlaces:before,
    a.enlaces:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #333;
    transition: left .8s;
    }
    a.enlaces:hover:before {
    left: 0;
    }
    a.enlaces:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 100%;
    background: #333;
    transition: right .8s;
    }
    a.enlaces:hover:after {
    right: 0;
    }
    
    menu {
      display: flex;
      justify-content: center;
    }
    
    
    
    .menu a {
      position: relative;
      display: block;
      overflow: hidden;
    }
    
    .menu a span {
      transition: transform 0.2s ease-out;
    }
    
    .menu a span:first-child {
      display: inline-block;
      padding: 10px;
    }
    
    .menu a span:last-child {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-100%);
    }
    
    .menu i {
      font-size: 17px;
    }
    
    .menu a:hover span:first-child {
      transform: translateY(100%);
    }
    
    .menu a:hover span:last-child,
    .menu[data-animation] a:hover span:last-child {
      transform: none;
    }
    
    /* ANIMATIONS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .menu[data-animation="to-top"] a span:last-child {
      transform: translateY(100%);
    }
    
    .menu[data-animation="to-top"] a:hover span:first-child {
      transform: translateY(-100%);
    }
    
    .menu[data-animation="to-right"] a span:last-child {
      transform: translateX(-100%);
    }
    
    .menu[data-animation="to-right"] a:hover span:first-child {
      transform: translateX(100%);
    }
    
    .menu[data-animation="to-left"] a span:last-child {
      transform: translateX(100%);
    }
    
    .menu[data-animation="to-left"] a:hover span:first-child {
      transform: translateX(-100%);
    }

    .colorfondo{
      //background-color: rgb(139, 231, 139);
      background-color: rgb(17, 122, 101);
    }
   