<div id="modalComuna" mdbModal #updateComuna="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-success" role="document" style="width:450px">
        <div class="modal-content">
            <div class="modal-header" color="green">
                <button type="button" class="close pull-right" aria-label="Close" (click)="updateComuna.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 heading lead" id="myModalLabel">Actualizar comuna</h4>
            </div>
            <div class="modal-body">
                Ingrese los datos
                <div class="md-form mb-5 mr-1">
                    <form [formGroup]="formulario" class="form rounded">
                        <input type="text" id="comuna" formControlName="comuna" class="form-control" mdbInput>
                        <label for="comuna">Nombre de la comuna</label>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" mdbBtn color="danger" mdbWavesEffect class="waves-light rounded-pill"
                    aria-label="Close" (click)="updateComuna.hide()" mdbWavesEffect>
                    Cerrar <mdb-icon fas icon="times"></mdb-icon></button>
                <button type="button" mdbBtn color="success" mdbWavesEffect class="rounded-pill" (click)="update()">
                    Actualizar <mdb-icon fas icon="save"></mdb-icon></button>
            </div>
        </div>
    </div>
</div>

<app-modal-exito [accionExito]="accionExito"></app-modal-exito>
<app-modal-error [accion]="accion"></app-modal-error>
