.ngbSlide{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 30%;
    height: 30%;
    font-size: 12px;
    text-align: center;
}
.ngb-carousel{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.h3, p{
    background: rgb(196, 233, 196);
    color: black;
    text-shadow: 1px 1px #fff;
    line-height: 1.2; font-size: 1em;
}
.p, h3{
    color: black;
    text-shadow: 1px 1px #fff;
}

