<div class="pad pt-4">
    <div class="row align-items-center">
        <div class="col-6">
            <h3><b>Usuarios</b></h3>
        </div>
        <div class="col-6 text-right pb-3">
            <button type="button" mdbBtn size="lg" class="rounded-pill btn btn-success" (click)="insertUsuario.show()"
                mdbWavesEffect>Agregar usuario <mdb-icon fas icon="plus"></mdb-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
                <label for="search">Buscar usuario</label>
            </div>
        </div>
    </div>
</div>

<div class="pad" style="height: 460px;overflow-y: scroll;">

    <table id="tableSortExample" mdbTable class="z-depth-1">
        <thead>
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Usuario</th>
                <th scope="col">Clave</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.usuario}}</td>
                <td>{{usuario.clave}}</td>
                <td>
                    <button type="btn-warning" mdbBtn class="rounded-pill btn btn-warning"
                    (click)="editar(usuario.id_usuario)" mdbWavesEffect><mdb-icon fas icon="pen"></mdb-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div id="insertUsuario" mdbModal #insertUsuario="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-success" role="document" style="width:450px">
        <div class="modal-content">
            <div class="modal-header" color="green">
                <button type="button" class="close pull-right" aria-label="Close" (click)="insertUsuario.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 heading lead" id="myModalLabel">Agregar usuario</h4>
            </div>
            <div class="modal-body">
                Ingrese los datos
                <div class="md-form mb-5 mr-1">
                    <form [formGroup]="formulario" class="form rounded">
                        <div class="md-form mb-5">
                            <input type="number" id="cedula" formControlName="cedula" class="form-control" mdbInput>
                            <label for="cedula">Cédula</label>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" id="nombre" formControlName="nombre" class="form-control" mdbInput>
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" id="apellido" formControlName="apellido" class="form-control" mdbInput>
                            <label for="apellido">Apellido</label>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" id="usuario" formControlName="usuario" class="form-control" mdbInput>
                            <label for="usuario">Usuario</label>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" id="clave" formControlName="clave" class="form-control" mdbInput pattern="[0-9]">
                            <label for="clave">Clave</label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" mdbBtn color="danger" mdbWavesEffect class="waves-light rounded-pill"
                    aria-label="Close" (click)="insertUsuario.hide()" mdbWavesEffect>
                    Close <mdb-icon fas icon="times"></mdb-icon></button>
                <button type="button" mdbBtn color="success" mdbWavesEffect class="rounded-pill" (click)="insertar()">
                    Guardar <mdb-icon fas icon="save"></mdb-icon></button>
            </div>
        </div>
    </div>
</div>

<app-modal-exito [accionExito]="accionExito"></app-modal-exito>
<app-modal-error [accion]="accionError"></app-modal-error>
<app-editar-usuario [id_usuario]="id_usuario"></app-editar-usuario>