<div id="insertHorario" mdbModal #updateHorario="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-success" role="document" style="width:450px">
        <div class="modal-content">
            <div class="modal-header" color="green">
                <button type="button" class="close pull-right" aria-label="Close" (click)="updateHorario.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 heading lead" id="myModalLabel">Actualizar horario</h4>
            </div>
            <div class="modal-body">
                Ingrese los datos 
                <div class="md-form mb-3 mr-1">
                    <form [formGroup]="formulario" class="form rounded">
                        <p>Día</p>
                        <select class="browser-default custom-select" formControlName="dia">
                            <option selected disabled>Elige un día</option>
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miercoles">Miercoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                            <option value="Sabado">Sabado</option>
                            <option value="Domingo">Domingo</option>
                        </select>
                    </form>
                </div>

                <div class="md-form mb-3 mr-1">
                    <form [formGroup]="formulario" class="form rounded">
                        <p>Hora inicio</p>
                        <input id="hora_inicio" type="time" name="hora_inicio" formControlName="hora_inicio">
                    </form>
                </div>
                <div class="md-form mb-3 mr-1">
                    <form [formGroup]="formulario" class="form rounded">
                        <p>Hora fin</p>
                        <input id="hora_fin" type="time" name="hora_fin" formControlName="hora_fin">
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" mdbBtn color="danger" mdbWavesEffect class="waves-light rounded-pill"
                    aria-label="Close" (click)="updateHorario.hide()" mdbWavesEffect>
                    Cerrar <mdb-icon fas icon="times"></mdb-icon></button>
                <button type="button" mdbBtn color="success" mdbWavesEffect class="rounded-pill" (click)="update()">
                    Guardar <mdb-icon fas icon="save"></mdb-icon></button>
            </div>
        </div>
    </div>
</div>

<app-modal-exito [accionExito]="accionExito"></app-modal-exito>
<app-modal-error [accion]="accion"></app-modal-error>
